@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027);

  font-family: Arial, Helvetica, sans-serif;
  height: 100vh; /* Fond couvre toute la fenêtre */
  /* Suppression valeurs par défaut */
  margin: 50px;
  padding: 0;
  overflow: hidden; /* Évite le défilement */
}

